@import url(https://fonts.googleapis.com/css?family=Electrolize:regular);

body{
    background-color: rgb(7, 7, 48);
    width: auto;
}
#logo{
    float: left;
    margin: 20px;
}
ul{
    float: right;
    list-style: none;
    margin-top: 20px;
}
ul li {
    display: inline-block;
}
ul li a 
{
   text-decoration: overline;
    color: white;
    padding: 6px 20px;
    font-weight: 700;
    font-family: Electrolize;
}
ul li a:hover{
    background-color: white;
    color: black;
}
header{
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.umskrOEe4MtYadufDmUTwwHaEK&pid=Api&P=0&w=359&h=203);
    background-repeat: no-repeat;
  background-size: 100% 100%;
}
footer{
    text-align: center;
    color: white;
    position: relative;
    top: 120px;
}
h1{
    text-align: center;
    color: white;
}
button{
    background-image:url(https://tse1.mm.bing.net/th?id=OIP.umskrOEe4MtYadufDmUTwwHaEK&pid=Api&P=0&w=359&h=203);
    border-radius: 25px;
    position: relative;
    left: 47%;
}
p{
    text-align: center;
    color: white;
}
#img2{
    margin-left: 110px;
}