
body{
    padding-top:25px ;
    background-color: #05013a;
}
a{
    color: cornsilk;
}

.div {
    border: 5px solid rgb(0, 3, 0);
    padding-bottom: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    
  }

nav{
    position: fixed;
    text-align: center;
    width: 100%;
    
    
      
}

h1{
   text-align: center;
   color: white;

   
}

p{
    text-align: center;
    color: white;
    flex: wrap;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

thead{
    text-decoration: underline;
    color: white;
}
img{
    height: 250px;
    float: left;
    margin-right: 10px;
    width: 270px;
  
}

#img2{
  
    float: left;
    margin-right: 10px;
    width: 270px; 
}

#img3{
    float: left;
    width: 270px;
}

button{
    border-radius: 50%;
    width: 100px;
    background-image: linear-gradient(to right, #669ce6,#09e5f5,#06e924);
}




